* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#universe {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(114, 113, 113);
    overflow: visible;
}

#planet {
    background: url(../../images/planet.svg) center no-repeat;
    height: 20em;
    width: 20em;
    animation: rotate 40s linear infinite;
}

.orbitPath {
    position: absolute;
    border: 0.1em dashed rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    overflow: visible;
}

#orbit1 {
    width: 25em;
    height: 25em;
}

#orbit2 {
    width: 50em;
    height: 50em;
}

.object-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    animation: rotate linear infinite;
    overflow: visible;
}

.object-positioner {
    position: absolute;
    overflow: visible;
}

.station {
    background: url(../../images/ISS.svg);
    height: 3.7em;
    width: 3.5em;
    margin-left: -1.75em;
    margin-top: -1.85em;
}

#orbitMoon {
    animation-duration: 10s;
    width: 30em;
    height: 30em;
    align-items: flex-start;
}

.moon {
    width: 3em;
    height: 3em;
    background: radial-gradient(circle at 35% 35%, #e0e0e0, #5a5a5a);
    border-radius: 50%;
    margin-left: -1.5em;
    margin-top: -1.5em;
    animation: counter-rotate 10s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes counter-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}