* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0a12;
}

#universe {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #111120, #151525);
    overflow: visible;
}

#planet {
    background: url(../../images/planet.svg) center no-repeat;
    height: 20em;
    width: 20em;
    animation: rotate 40s linear infinite;
    
}

.orbitPath {
    position: absolute;
    border: 0.1em dashed rgba(0, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    animation: rotate linear infinite;
    overflow: visible;
}

#orbit1 {
    animation-duration: 70s;
    width: 25em;
    height: 25em;
}

#orbit2 {
    animation-duration: 120s;
    width: 50em;
    height: 50em;
}

#satelite {
    background: url(../../images/ISS.svg);
    height: 3.7em;
    width: 3.5em;
    margin-top: 1em;
}

#orbitMoon {
    animation-duration: 10s;
    width: 30em;
    height: 30em;
    align-items: flex-start;
}

#moon {
    width: 3em;
    height: 3em;
    background: radial-gradient(circle at 35% 35%, #e0e0e0, #5a5a5a);
    border-radius: 50%;
    margin-top: -1.5em;
    animation: counter-rotate 10s linear infinite;
    display: none;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes counter-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}